/nbproject/*
/joomla/images/*
/joomla/includes/*
/joomla/logs/*
/joomla/cli/*
/joomla/cache/*
/joomla/bin/*
/joomla/tmp/*
*/.idea/*
.idea/*
*/administrator/*
joomla/components/com_jshopping/files/img_products/
