.grid-product{
  margin: 5px -10px 5px -5px;
}
.grid-product .custom{
  width: 100%;
  font-size: 0;
  .item-wrap{
    width: 24.85%;
    display: inline-block;
    .item{
      font-size: 1rem;
      margin: 5px;
      padding: 12px;
      background: #fff;
      .top-wrap{
        padding: 5px 12px 5px 12px;
        margin: -12px -12px 5px;
        text-align: center;
        &.discount{
          background: #81160E;
        }
        .title{
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          font-size: 1.1em;
        }
      }
      .border(#c3b59b);
      .title, .sub-title, .over-title{
        color: #51342e;
        text-align: center;
      }
      .title{
        margin: -.1em 0 .2em;
        font-size: 1.5em;
        font-weight: 600;
      }
      .sub-title{

      }
      .over-title{
        font-weight: 600;
        font-size: 1.1em;
      }
      .thumb{
        position: relative;
        text-align: center;
        max-width: 184px;
        min-height: 160px;
        overflow: hidden;
        img{
          //width: 100%;
          .full-center-align;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .bottom{
        text-align: center;
        .price{
          margin: .2em 0 .4em;
          font-size: 1.1em;
          font-weight: 600;
          color: @active-clr;
          &.before{
            font-size: .9em;
            color: @primary-clr;
            margin: 6px 0 -4px;
          }
        }
        .pure-button{
        }
      }
    }
  }
}