<div>
    <label class="label-wrap"><span class="label">Бренд:</span>
        <select class="w7">
            <option>Бренд-1</option>
            <option>Бренд-2</option>
        </select>
    </label>
    <label class="label-wrap"><span class="label">Объем отапливаемого помещения:</span>
        <select class="w3">
            <option>12м</option>
            <option>14м</option>
        </select>
    </label>
    <label class="label-wrap"><span class="label">По типу:</span>
        <select class="w3">
            <option>Тип-1</option>
            <option>Тип-2</option>
        </select>
    </label>
    <label class="label-wrap"><span class="label">С теплообменником:</span>
        <select class="w8">
            <option>Да</option>
            <option>Нет</option>
        </select>
    </label>
    <label class="label-wrap"><span class="label">Дверца:</span>
        <select class="w3">
            <option>Да</option>
            <option>Нет</option>
        </select>
    </label>
    <label class="label-wrap"><span class="label">Топка:</span>
        <select class="w3">
            <option>Да</option>
            <option>Нет</option>
        </select>
    </label>
    <label class="label-wrap"><span class="label">Система вторичного дожига:</span>
        <select class="w2">
            <option>Да</option>
            <option>Нет</option>
        </select>
    </label>
    <div class="pure-button button-primary">Искать</div>
</div>