.grid-brand .item-wrap .item .link p {
    margin-left: 100px;
}

.customdiscount p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background: rgb(251,134,81);
}