:focus {
    outline: 0 !important;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    /* */
    border: none;
}

.svg {
    clip-rule: evenodd;
    fill-rule: evenodd;
    image-rendering: optimizequality;
    shape-rendering: geometricprecision;
    text-rendering: geometricprecision;
}

.no-svg .svg {
    display: none;
}

a:hover {
    text-decoration: underline;
}

/*draggable*/
body.drop {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.drag-disabled {
    cursor: default;
}

.left {
    float: left
}

.right {
    float: right
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.pointer {
    cursor: pointer;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

[contenteditable="true"]:focus {
    cursor: text;
}

.disable-hover {
    pointer-events: none;
}

