<div class="modal">
    <div id="close-modal" class="close">x</div>
    <p class="title">Заполните форму и мы позвоним в удобное вам время и ответим на ваши вопросы</p>
    <div class="body">
        <label class="label-wrap">
            <span class="label required">Имя:</span>
            <input type="text">
        </label>
        <label class="label-wrap">
            <span class="label required">Телефон:</span>
            <input type="text">
        </label>
        <label class="label-wrap">
            <span class="label required">Укажите удобное время для звонка и вопрос:</span>
            <textarea></textarea>
        </label>
        <div class="pure-button button-primary">Позвоните мне</div>
    </div>
</div>
<div class="modal-bg"></div>