<div class="info-top">
    <div class="image-block">
        <div class="main-image">
            <div class="wrap">
                <img src="img/content/product-item-1.png">
            </div>
        </div>
        <ul class="image-list">
            <li class="item">
                <img src="img/content/product-item-1.png">
            </li>
            <li class="item">
                <img src="img/content/product-item-1.png">
            </li>
            <li class="item">
                <img src="img/content/product-item-1.png">
            </li>
            <li class="item">
                <img src="img/content/product-item-1.png">
            </li>
            <li class="item">
                <img src="img/content/product-item-1.png">
            </li>
            <li class="item">
                <img src="img/content/product-item-1.png">
            </li>
        </ul>
    </div>
    <div class="info-block">
        <div class="top-row">
            <div class="price">Цена: <span class="amount">180 000</span> <span class="metric">руб.</span></div>
            <div class="pure-button button-primary button-xlarge">Купить</div>
        </div>
        <p class="desc">Печь оборудована большим светопрозрачным экраном-дверцей. Уникальная дверца защищает стекло от термических деформаций</p>
        <h3>Технические характеристики:</h3>
        <table class="features">
            <tr>
                <td class="name">Производитель:</td>
                <td class="feature">Термофор</td>
            </tr>
            <tr>
                <td class="name">Артикул:</td>
                <td class="feature">21100</td>
            </tr>
            <tr>
                <td class="name">Производитель:</td>
                <td class="feature">Термофор</td>
            </tr>
            <tr>
                <td class="name">Топка:</td>
                <td class="feature">Из толстостенной конструкционной стали и бетона</td>
            </tr>
            <tr>
                <td class="name">Объем парильного помещения:</td>
                <td class="feature">Термофор</td>
            </tr>
        </table>
    </div>
</div>
<div class="main-text">
    <h3>Особенности и преимущества:</h3>
    <p>Помпейскую (по-другому она называется неаполитанской или тосканской) печь относят к колпаковым печам. Традицией использования данного изделия в приготовлениях семейных обедов, а также в ресторанных заведениях насчитывается многовековая история. Данный аппарат широко используют многие народы средиземноморья. Ближайшим ее родственником является русская.
    <p>Конструкция такого изделия отличается от конструкции камина: ее дымоход находится с входной стороны и отделяется от топочной камеры. Вход в топочную имеет высоту приблизительно в 60 процентов от высоты купола. Попадающий снизу холодный поток воздуха поступает в огонь – во время выпечки пиццы, как правило, в боковой части сзади – а после уже влажным и раскаленным выходит, обогнув “потолок”, опускаясь вниз на выходе, и только после выходит вверх, в дымоход. Печной вход в ширину приблизительно занимает высоту купола либо чуть меньше. Например, при диаметре агрегата в 110 см вход имеет ширину и высоту примерно в 50 см. Соблюдение данного соотношения определяет правильную работу аппарата: небольшие теплопотери, отток дыма, отличная тяга.
</div>