<div class="item-wrap">
    <div class="item">
        <div class="top-row"></div>
        <header>
            <div class="over-title">Печь-камин</div>
            <div class="title">Thermo Vulcano</div>
        </header>
        <div class="thumb">
            <img src="img/content/product-item-1.png">
        </div>
        <div class="bottom">
            <div class="price">Всего 180 000 рублей</div>
            <div class="pure-button button-primary">Подробнее</div>
        </div>
    </div>
</div>