.alert-message, .alert-error{
  position: relative;
  margin: 10px 0;
  padding: 5px 14px 12px;
  .border(1px, @active-clr);
  background: fade(@active-clr, 7%);
  h4{
    margin: .6em 0 0;
    font-size: 1.2em;
  }
  .close{
    position: absolute;
    top: 5px;
    right: 0;
    padding: 4px 13px;
    font-size: 2em;
    line-height: 1em;
    cursor: pointer;
  }
  p{
    margin: 10px 0;
  }
}
.alert-error{
  h4{
    display: none;
  }
  .border(1px, #fe1e1e);
  background: fade(#f8e0e0, 7%);
}