.grid-brand{
  .group;
  margin: -15px -15px 20px;
  .item-wrap{
    width: 33.33%;
    float: left;
    .item{
      position: relative;
      height: 90px;
      margin: 15px;
      background: #f9f6ef;
      .group;
      .border(#c3b59b);
      .img-wrap{
        position: absolute;
        left: 0;
        width: 90px;
        height: 90px;
        .border-right(#c3b59b);
        background: #fff;
        img{
          .full-center-align;
          max-width: 99%;
          padding: 6px;
          .box-sizing;
        }
      }
      .info{
        float: left;
        padding: 18px 15px 18px 105px;
        .title{
          display: inline-block;
          max-height: 41px;
          overflow: hidden;
          margin: 0;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          color: #373330;
        }
        .count{
          display: block;
          margin-top: -3px;
          font-size: 16px;
          font-weight: 600;
          color: @active-clr;
        }
      }
    }
  }
}