.grid-product{
  margin: 5px -10px 5px -5px;
}
.grid-product{
  .group;
  .custom{
    width: 100%;
    font-size: 0;
  }
  .item-wrap{
    width: 25%;
    float: left;
    .item{
      font-size: 1rem;
      margin: 5px;
      padding: 12px;
      background: #fff;
      .top-wrap{
        padding: 5px 12px 5px 12px;
        margin: -12px -12px 5px;
        text-align: center;
        &.discount{
          background: #81160E;
        }
        .title{
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          font-size: 1.1em;
        }
      }
      .border(#c3b59b);
      .title, .sub-title, .over-title{
        color: #51342e;
        text-align: center;
      }
      .title{
        margin: -.1em 0 .2em;
        font-size: 1.5em;
        font-weight: 600;
      }
      .sub-title{

      }
      .over-title{
        font-weight: 600;
        font-size: 1.1em;
      }
      .thumb{
        position: relative;
        text-align: center;
        max-width: 184px;
        min-height: 132px;
        overflow: hidden;
        margin: 0 auto;
        img{
          //width: 100%;
          .full-center-align;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .bottom{
        text-align: center;
        .price{
          margin: .2em 0 .4em;
          font-size: 1.1em;
          font-weight: 600;
          color: @active-clr;
          &.before{
            font-size: .9em;
            color: @primary-clr;
            margin: 6px 0 -4px;
          }
        }
        .pure-button{
        }
      }
    }
  }
  &.category, &.discount{
    .item-wrap .item {
      .box-sizing;
      .header{
        height: 55px;
        overflow: hidden;
        .title {
          overflow: hidden;
          height: 22px;
          margin: -0.15em 0 .2em;
          font-size: 20px;
          line-height: 1em;
          color: #373330;
        }
        .sub-title{
          height: 36px;
          margin: -3px 0 0;
          line-height: 15px;
          font-size: 14px;
        }
      }
      .thumb{
        min-height: 112px;
      }
      .bottom{
        .group;
        .box-sizing;
        margin: 0 -12px -12px;
        padding: 10px 12px;
        .border-top(#c3b59b);
        background: #f9f6ef;
        .jshop_price{
          float: left;
          margin-top: 4px;
          font-size: 1.1em;
          font-weight: 600;
        }
        .button-primary{
          float: right;
          font-size: 90%;
        }
      }
    }
  }
  &.category{
    .item-wrap .item{
      height: 240px;
      .bottom{
        height: 50px;
        margin-top: 9px;
      }
    }
  }
  &.discount{
    margin-bottom: 30px;
    .item-wrap .item{
      height: 240px;
      .bottom{
        height: 33px;
        border: none;
        background: #fff;
        .price{
          float: left;
          color: #373330;
          text-align: left;
          .old, .current{
            display: block;
          }
          .old{
            margin: -7px 0 -3px;
            font-size: 85%;
            font-weight: 400;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
.layout-trigger{
  margin-bottom: 20px;
  .link{
    padding-right: 28px;
    .label{
      color: #373330;
    }
    &.current, &:hover{
      .label{
        text-decoration: underline;
      }
    }
    .icon{
      position: relative;
      top: 3px;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 8px;
      background: url(../img/icon-list.png) no-repeat;
      content: "";
      &.icon-grid{
        background: url(../img/icon-grid.png) no-repeat;
      }
    }
  }
}