.pagination{
  .horiz-menu;
  text-align: center;
  margin: 1.4em 0;
  .item{
    *{
      padding: .2em .4em;
    }
    .link{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    &.active{
      color: @active-clr;
      text-decoration: none;
      cursor: default;
      .a{
        text-decoration: none;
        cursor: default;
      }
    }
    &.disabled{
      color: #9c827d;
    }
  }
}
