.cme-form {
    display: none;
}

.cme-form .has-error {
    background: #f2dede;
}



.cme-form select {
    border: 1px solid #98a198;
    background: white;
    padding: 4px 3px 3px 9px;
    width: 100%;
    font-size: 12px;
    border-radius: 0px;
    outline-style: none;
    height: 21px;
    line-height: 21px;
    margin: 0 0 5px 0;
    font-size: 13px;
    cursor: pointer;
    font-family: "Trebuchet MS";
    outline: 0;
}

.cme-form .cme-select {
    width: 280px;
    margin-left: 10px;
    height: 27px;
    line-height: 27px;
}

.cme-form h6 {
    border-bottom: 1px solid #efefef;
    color: #148e00;
    font-size: 14px;
    padding: 10px 0 9px 10px;
    margin: 0 0 7px 0;
}

.cme-form span div {
    float: left;
    display: inline;
    margin: 0 5px 0 0;
    line-height: 19px;
}

.cme-form .cme-cls {
    height: 20px;
    width: 20px;
    font-size: 29px;
    overflow: hidden;
    border-radius: 2px;
    text-align: center;
    padding: 8px;
    line-height: 14px;
    float: right;
    display: inline;
    color: #fe611e;
    text-shadow: none;
    cursor: pointer;
    text-decoration: none;
}

.cme-form .cme-btn-place span {
    display: inline;
    float: right;
    padding: 7px 12px 0 0 !important;
    font-size: 8px !important;
    color: #888 !important;
}

.cme-form .cme-btn-place span a {
    font-size: 11px;
    color: #888;
}

.cme-form .cme-btn-place span a:hover {
    text-decoration: none;
}

.cme-form .callmebody {
    font-size: 13px;
    background: #efefef;
    padding: 5px 10px;
}

.cme-form .callmebody .inf {
    padding: 0 5px;
    margin: 0 0 10px 0;
    font-weight: bold;
    clear: both;
}

.cme-form .callme-result {
    background: #efefef url(loading.gif) 10px center no-repeat;
    display: block;
    clear: both;
    margin: 5px 11px 10px 10px;
}

.cme-form .callme-result div {
    padding: 7px 7px;
    margin: 4px 0 0 0;
}

.cme-form .callme-result div.sending {
    padding: 7px 0 7px 35px;
    display: block;
    color: #777777;
    clear: both;
}

.cme-form .callme-result div.c_success {
    background: #98c462;
    color: #fff;
    text-shadow: none;
}

.cme-form .callme-result div.c_error {
    background: #f76363;
    color: #fffafa;
    text-shadow: none;
}

#viewform {
    border: 0;
    padding: 0;
    background: url(bttn.png);
    height: 185px;
    width: 22px;
    cursor: pointer;
    outline: 0;
}

#cme-back {
    display: none;
    z-index: 108;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
}

.cme-btn-place span{
    display: none !important;
}
