.grid-brand{
  display: flex;
  flex-wrap: wrap;
  margin: -5px -5px 0;
  .item-wrap{
    width: 20%;
    .item{
      margin: 5px;
      background: #fff;
      .border(#c3b59b);
      .img-wrap{
        position: relative;
        width: 100%;
        height: 140px;
        padding: 12px;
        box-sizing: border-box;
        img{
          .full-center-align;
          max-width: 99%;
        }
      }
      .title{
        margin: 0;
        .border-top(#c2b59b);
        line-height: 1.8em;
        font-weight: 600;
        text-align: center;
        background: #f9f6ef;
        color: @active-clr;
      }
    }
  }
}